.host-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #111;
  color: white;
}

.header {
  background: linear-gradient(135deg, #111111 50%, #322222 100%);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: white;
  font-weight: bold;
  font-family: 'Geostar Fill', cursive;
}

.red-dot {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 17, 0);
  border-radius: 50%;
  margin-right: 10px;
}

.room-info {
  font-size: 25px;
  margin-left: 110px;
  /* text-align: center; */
}

.controls button {
  margin-right: 10px;
  background-color: #764444;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: auto;
  font-size: 18px;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar-container {
  display: flex;
  position: relative;
  height: 100%;
}

.sidebar-resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #626262;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


.sidebar-resizer:hover {
  background-color: #666;
}
