.sidebar {
  flex: 1; 
  background-color: #333;
  color: white;
  border-right: 2px solid #000;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

.sidebar-header {
  font-size: 18px;
  margin-bottom: 10px;
  background: #00ff99;
  padding: 5px;
  color: black;
}

.client-list {
  display: flex;
  flex-direction: column;
}

.client-item {
  padding: 8px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #444;
  cursor: pointer;
  gap: 8px;
}

.client-item.active {
  background-color: #444;
  font-weight: bold;
}

.client-status .status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.status-dot.online {
  background-color: #00ff00;
}

.status-dot.offline {
  background-color: #888;
}

.client-index {
  width: 20px;
}

.client-name,
.client-reg {
  flex-grow: 1;
}

